<div class="button-row">
    <a mat-raised-button routerLink="" color="accent">Main Menu</a>
    <a mat-raised-button routerLink="/about" color="accent">About Us</a>
    <a mat-raised-button routerLink="/gallery" color="accent">Gallery</a>
   
  </div>


<p class="about">
 <br>
 <br>
  Welcome to The Beauty Space! We are a company who likes to connect cosmetologists with <br>
  new customers. If you're a customer looking for a new makeup artist, hair stylist, nail stylist, <br>
  or esthetician, you can find new and upcoming artists here as they post their services. We <br>
  offer information on services and costs. So keep browsing and maybe you'll find someone you like!
</p>
