Showing RED?
<input [(ngModel)]="shouldShowRed">
<br>
<div *ngIf="newRecord._id">
  _id:
  <input [(ngModel)]="newRecord._id">
  <br>
</div>
service:
<input [(ngModel)]="newRecord.service">
<br> name:
<input [(ngModel)]="newRecord.name">
<br> profession:
<input [(ngModel)]="newRecord.profession">
<br> cost:
<input [(ngModel)]="newRecord.cost">
<br>
<button (click)="addRecord(newRecord)" mat-raised-button color="accent">{{newRecord._id ? 'Update Record' : 'Add Record'}}</button>
<div *ngFor="let a of myArr; let i = index">
  <p>ID:{{a._id}}</p>
  <p>Service:{{a.service}}</p>
  <h1 [ngClass]="{'red':shouldShowRed}">ID: {{a.id}} Name: {{a.name}}</h1>

  <p [ngStyle]="pStyle">Profession: {{a.profession}}</p>
  <p>Service: {{a.service}}</p>
  <p>Cost: {{a.cost}}</p>
  <button mat-raised-button color="primary" (click)="toggleClass()">Toggle Red</button>
  <button mat-raised-button color="basic" (click)="remove(a._id)">X</button>
  <button mat-raised-button color="basic" (click)="update(a)">Update</button>

</div>
<div class="card-container">
  <mat-card class="service-card" *ngFor="let service of myArr">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Service: {{service.service}}</mat-card-title>
      <mat-card-subtitle>Name: {{service.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Profession: {{service.profession}}</p>
      <p>Cost: {{service.cost}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-card" mat-raised-button color="basic" (click)="remove(service._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button class="btn-card" mat-raised-button color="basic" (click)="update(service)">
        <mat-icon>update</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>