.red{
    color:red;
}
.card-container {
    width: 100%;
}
.service-card {
    width: 18%;
    float:left;
    margin-right:1%;
}
.service-card:last-child {
    margin-right:0%;

}
.btn-card {
    float: left !important;
    max-width: 50px !important;
    display: block;
}