

<button (click)="goToCreateService()" mat-raised-button color="accent">Add A New Service</button>

<div class="card-container">
  <mat-card class="service-card" *ngFor="let service of myArr">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Service: {{service.service}}</mat-card-title>
      <mat-card-subtitle>Name: {{service.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Profession: {{service.profession}}</p>
      <p>Cost: {{service.cost}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-card" mat-raised-button color="basic" (click)="remove(service._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button class="btn-card" mat-raised-button color="basic" (click)="update(service)">
        <mat-icon>update</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>